<style>
    .vl {
  border-left: 1px solid lightgrey;
  height: 30px;
}
        .vl2 {
  border-left: 1px solid lightgrey;
  height: 25px;
}
        .vl3 {
  border-left: 1px solid lightgrey;
  height: 15px;
}
        </style>
<div style="background-color:white">
    <div class="row" style="overflow:auto;height:100%">
        <div class="columnHome"></div>
        <div class="columnHome">
            <p class="otherSet_Pro_New"><img src="assets/Icon material-arrow_back.png" alt="" align="top" style="cursor: pointer;padding-top: 2px"
                    (click)="home()">
                &nbsp;
                <span>Send Money to Eric Thomson</span></p>
            <p style="text-align: center;">
                <img src="assets/receiver.png" (click)="receiver()">
                <span class="receiver" (click)="receiver()">Receiver Info</span>
            </p>
            <div class="sendMoneyDiv" *ngIf="receiverInfo">
                 <table style="width:100%">
                        <tr class="trspace">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Country</span>
                            </td>
                            <td style="width:55%">
                                <select type="text" class="form-control" name="country" required [ngClass]="{'is-invalid': 
                            country.invalid  && submitted  ,'is-valid': country.valid  && submitted }"
                                    #country="ngModel" ngModel [(ngModel)]="sendMoney.country" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                    <option hidden value="" disabled selected>Choose country </option>
                                    <option value="us">United States</option>
                                    <option value="uk">United Kingdom</option>
                                    <option value="mexico" style="cursor:pointer">Mexico</option>
                                    <option value="asustralia">Australia</option>
                                </select>
                                <show-error [control]="country" [label]="{'labelName': 'Country'}" [submitFlag]="submitted"></show-error>
                            </td>
                        </tr>
                        <tr class="trspace">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Phone Number</span>
                            </td>
                            <td style="width:55%">
                                <input type="text" class="form-control" name="phoneNumber" placeholder="" autocomplete="off"
                                    required [ngClass]="{'is-invalid': 
                            phoneNumber.invalid  && submitted  ,'is-valid': phoneNumber.valid  && submitted }"
                                    #phoneNumber="ngModel" ngModel [(ngModel)]="sendMoney.phoneNumber" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                <show-error [control]="phoneNumber" [label]="{'labelName': 'Phone Number'}"
                                    [submitFlag]="submitted"></show-error>
                            </td>
                        </tr>
                        <tr class="trspace" >
                                <td style="width:45%;padding-left: 10px;">
                                    <span class="tdLabel"> State</span>
                                </td>
                                <td style="width:55%">
                                    <select type="text" class="form-control" autocomplete="off" name="state" placeholder=""
                                        required [ngClass]="{'is-invalid': 
                                state.invalid  && submitted  ,'is-valid': state.valid  && submitted }"
                                        #state="ngModel" ngModel [(ngModel)]="sendMoney.state" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                        <option hidden value="" disabled selected>Choose state </option>
                                        <option value="bankaccount">Campeche</option>
                                        <option value="bankaccount">Chiapas</option>
                                        <option value="ccdc">Colima</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="trspace">
                                <td style="width:45%;padding-left: 10px;">
                                    <span class="tdLabel"> City/Town</span>
                                </td>
                                <td style="width:55%">
                                    <select type="text" class="form-control" autocomplete="off" name="city" placeholder=""
                                        required [ngClass]="{'is-invalid': 
                                city.invalid  && submitted  ,'is-valid': city.valid  && submitted }"
                                        #city="ngModel" ngModel [(ngModel)]="sendMoney.city" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                        <option hidden value="" disabled selected>Choose city </option>
                                        <option value="bankaccount">Champoton</option>
                                        <option value="bankaccount">Calkimi</option>
                                        <option value="ccdc">Candelaria</option>
                                    </select>
                                </td>
                            </tr>
                        <tr class="trspace">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Vendor</span>
                            </td>
                            <td style="width:55%">
                                <select type="text" class="form-control" autocomplete="off" name="vendor" placeholder=""
                                    required [ngClass]="{'is-invalid': 
                            vendor.invalid  && submitted  ,'is-valid': vendor.valid  && submitted }"
                                    #vendor="ngModel" ngModel [(ngModel)]="sendMoney.vendor" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                    <option hidden value="" disabled selected>Choose vendor </option>
                                    <option value="bankaccount">Money Gram</option>
                                    <option value="ccdc">Western Union</option>
                                </select>
                            </td>
                        </tr>
                       
                        <tr class="trspace">
                                <td style="width:45%;padding-left: 10px;">
                                    <span class="tdLabel"> Delivery Method</span>
                                </td>
                                <td style="width:55%">
                                    <select type="text" class="form-control" autocomplete="off" name="deliveryMethod"
                                        placeholder="" required [ngClass]="{'is-invalid': 
                                deliveryMethod.invalid  && submitted  ,'is-valid': deliveryMethod.valid  && submitted }"
                                        #deliveryMethod="ngModel" ngModel [(ngModel)]="sendMoney.deliveryMethod" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                        <option hidden value="" disabled selected>Choose method </option>
                                        <option value="bankaccount">Bank Account</option>
                                        <option value="cashPick">Cash Pickup</option>
                                    </select>
                                </td>
                            </tr>
                        <tr class="trspace" *ngIf="sendMoney.deliveryMethod === 'cashPick'">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Location</span>
                            </td>
                            <td style="width:55%">
                                <select type="text" class="form-control" autocomplete="off" name="location" placeholder=""
                                    required [ngClass]="{'is-invalid': 
                            location.invalid  && submitted  ,'is-valid': location.valid  && submitted }"
                                    #location="ngModel" ngModel [(ngModel)]="sendMoney.location" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                    <option hidden value="" disabled selected>Choose location </option>
                                    <option value="bankaccount">Money Gram - Swansons </option>
                                    <option value="bankaccount" disabled>830 RIVER ST,ADAK,AK 99546.</option>
                                    <option value="bankaccount">Money Gram - Walmart</option>
                                    <option value="bankaccount" disabled>2911 MILLBAY RD,KODIAK,AK 99615.2911 MILLBAY
                                        RD,KODIAK,AK 99615.</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="trspace" *ngIf="sendMoney.deliveryMethod === 'bankaccount'">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Bank Name</span>
                            </td>
                            <td style="width:55%">
                                <select type="text" class="form-control" autocomplete="off" name="bank" placeholder=""
                                    required [ngClass]="{'is-invalid': 
                            bank.invalid  && submitted  ,'is-valid': bank.valid  && submitted }"
                                    #bank="ngModel" ngModel [(ngModel)]="sendMoney.bank" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                    <option hidden value="" disabled selected>Choose bank </option>
                                    <option value="bankaccount">Bank of America</option>
                                    <option value="ccdc">Wells Fargo</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="trspace" *ngIf="sendMoney.deliveryMethod === 'bankaccount'">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Account Name</span>
                            </td>
                            <td style="width:55%">
                                <input type="text" class="form-control" autocomplete="off" name="accountName"
                                    placeholder="" required [ngClass]="{'is-invalid': 
                            accountName.invalid  && submitted  ,'is-valid': accountName.valid  && submitted }"
                                    #accountName="ngModel" ngModel [(ngModel)]="sendMoney.accountName" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                            </td>
                        </tr>
                        <tr class="trspace" *ngIf="sendMoney.deliveryMethod === 'bankaccount'">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Account Number</span>
                            </td>
                            <td style="width:55%">
                                <input type="text" class="form-control" autocomplete="off" name="accountNumber"
                                    placeholder="" required [ngClass]="{'is-invalid': 
                            accountNumber.invalid  && submitted  ,'is-valid': accountNumber.valid  && submitted }"
                                    #accountNumber="ngModel" ngModel [(ngModel)]="sendMoney.accountNumber" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                            </td>
                        </tr>
                        <tr class="trspace" *ngIf="sendMoney.deliveryMethod === 'bankaccount'">
                            <td style="width:45%;padding-left: 10px;">
                                <span class="tdLabel"> Routing Number</span>
                            </td>
                            <td style="width:55%">
                                <input type="text" class="form-control" autocomplete="off" name="routingNumber"
                                    placeholder="" required [ngClass]="{'is-invalid': 
                            routingNumber.invalid  && submitted  ,'is-valid': routingNumber.valid  && submitted }"
                                    #routingNumber="ngModel" ngModel [(ngModel)]="sendMoney.routingNumber" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                            </td>
                        </tr>
                        
                    </table> 
            </div>
            <div *ngIf="transmissionInfo">
                    <table style="width: 100%;padding-left: 10px; padding-right: 10px;">
                            <tr (click)="transmission()">
                                <td class="transmission">
                                    <label class="head_amt" style="cursor:pointer !important">Transmission Information</label>
                                </td>
                            </tr>
                        </table>
                        <form #sendMoney="ngForm" name="changepassword" novalidate>
                            <div id="viewpg" class="sendMoneyDiv" *ngIf="firstPage">
                                <table style="width:100%;padding-left: 18px;">
                                    <tr>
                                        <td>
                                            <span class="point16"> You Send</span>
                                        </td>
                                    </tr>
                                    <tr class="filterSend">
                                        <td>
                                            <input type="text" class="form-control" name="payTo" placeholder="" autocomplete="off"
                                                required [ngClass]="{'is-invalid': 
                                                                            payTo.invalid  && submitted  ,'is-valid': payTo.valid  && submitted }"
                                                #payTo="ngModel" ngModel [(ngModel)]="sendMoney.payTo" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;
                                                                                    border-radius: 10px;width: 70%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                            <button class="sendmoneyBtn">&nbsp;<img src="assets/united-states-1.png" style="margin: -2px;">&nbsp;
                                                <span class="usd">USD</span></button>
                                        </td>
                                    </tr>
            
                                </table>
                                <table style="width:100%;padding-left: 18px;">
                                    <tr>
                                        <td style="width:15%">
                                        </td>
                                        <td>
                                            <div *ngIf="hideView" class="vl"></div>
                                            <div *ngIf="hideView" style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/closed-eye.png" style="cursor:pointer" (click)="hideEye()" height="20" align="top" width="20">&nbsp;
                                                <span class="pt12Bold">See Calculations</span></div>
                                            <div  *ngIf="seeView" class="vl"></div>
                                            <div  *ngIf="seeView" style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/view-eye.png" style="cursor:pointer" (click)="seeEye()" height="20" align="top"  width="20">&nbsp;
                                                <span class="pt12Bold">Hide Calculations</span></div>
                                            <div *ngIf="see"  class="vl2"></div>
                                            <div *ngIf="see" style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/path.png" height="16" align="top"  width="16">&nbsp;
                                                <span class="pt12Med">20.00 USD</span></div>
                                            <div *ngIf="see" class="vl3"></div>
                                            <div *ngIf="see" style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/path.png" height="16" align="top"  width="16">&nbsp;
                                                <span class="pt12Med">11.00USD Our Fees</span></div>
                                            <div  *ngIf="hide" class="vl2"></div>
                                            <div   *ngIf="hide" style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/plus.png" height="16" align="top"  width="16">&nbsp;
                                                <span class="pt12Med">31.00 USD Total Fees</span></div>
                                            <div  *ngIf="see" class="vl2"></div>
                                            <div   *ngIf="see" style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/path.png" height="16" align="top"   width="16">&nbsp;
                                                <span class="pt12Med">3900.00 USD Amount will convert</span></div>
                                            <div    class="vl3"></div>
                                            <div  style="margin-left: -8px;margin-top: -3px;margin-bottom: -3px"><img src="assets/refresh.png" height="16" align="top"  width="16">&nbsp;
                                                <span class="pt12Med">1.00 USD = 19.2736 MXN</span></div>
                                            <!-- <div style="margin-left: -8px;margin-top: -3px"><img src="assets/refresh.png" height="16" width="16">&nbsp;1.00 USD = 19.2736 MXN<div> -->
                                            <div class="vl2"></div>
                                        </td>
                                    </tr>
            
                                </table>
                                <table style="width:100%;padding-left: 18px;">
            
                                    <tr class="filterSend">
                                        <td>
                                            <input type="text" class="form-control" name="payTo" placeholder="" autocomplete="off"
                                                required [ngClass]="{'is-invalid': 
                                                                                payTo.invalid  && submitted  ,'is-valid': payTo.valid  && submitted }"
                                                #payTo="ngModel" ngModel [(ngModel)]="sendMoney.payTo" style="text-indent: 10px;font-size: 15.00px;font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;
                                                                                        border-radius: 10px;width: 70%;height: calc(1.4em +0.75rem);border-bottom:0.5px solid #3C3C3C !important">
                                            <button class="sendmoneyBtn">&nbsp;<img src="assets/mexico.png" style="margin: -2px;">&nbsp;
                                                <span class="usd">MXN</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="point16"> Receives</span>
                                        </td>
                                    </tr>
                                </table>
                                <div style="text-align: center;margin-top: 10px;">
                                <button  *ngIf="firstPage" class="nextbtn !important" style="width: 125.00px;height: 40.12px !important" (click)="onPreviewClick()">Preview</button>
                                </div>
                            </div>
                        </form>
            </div>
           
        </div>
        <div class="columnHome"></div>
    </div>
</div>