<div class="bg-color">
  <!-- header title -->
  <div class="title">
    <label class="title-text"> ENVIA MEJOR</label>
  </div>
  <!-- overall div -->
  <div class="row" style="overflow:auto;height:100%;padding-right:15px;padding-left:15px;">
    <!-- section1 -->
    <div class="column"></div>
    <!-- section 2 -->
    <div class="column" style="text-align:center;padding-top: 25px;">
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
        <p class="setUp">Verify your Mobile Number</p>
        <!-- form starts -->
        <form #loginform="ngForm" name="loginform" novalidate>
          <!-- for phone number input -->
          <input type="text" name="phone" class="form-control" placeholder="Phone Number" autocomplete="off"  required
            [ngClass]="{
            'is-invalid':phone.invalid  && submitted  ,'is-valid': phone.valid  && submitted }" #phone="ngModel"
            ngModel [(ngModel)]="loginObj.phone" />
          <show-error [control]="phone" [label]="{'labelName': 'Phone Number'}" [submitFlag]="submitted"></show-error>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" *ngIf="!submitted || phone.valid"></svg>
          <!-- for  password input -->
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
          <form  class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
            <input type="text" id="digit-1" numbersOnly name="digit-1" data-next="digit-2" (ngModelChange)="click()" #digit1="ngModel" ngModel [(ngModel)]="loginObj.digit1"/>
            <input type="text" id="digit-2" numbersOnly name="digit-2" data-next="digit-3" data-previous="digit-1"  #digit2="ngModel" ngModel [(ngModel)]="loginObj.digit2" (ngModelChange)="click()"/>
            <input type="text" id="digit-3" numbersOnly name="digit-3" data-next="digit-4" data-previous="digit-2" #digit3="ngModel" ngModel [(ngModel)]="loginObj.digit3" (ngModelChange)="click()"/>
            <input type="text" id="digit-4" numbersOnly name="digit-4" data-next="digit-5" data-previous="digit-3" #digit4="ngModel" ngModel [(ngModel)]="loginObj.digit4" (ngModelChange)="click()"/>
            <input type="text" id="digit-5" numbersOnly name="digit-5" data-next="digit-6" data-previous="digit-4" #digit5="ngModel" ngModel [(ngModel)]="loginObj.digit5" (ngModelChange)="click()" />
            <input type="text" id="digit-6" numbersOnly name="digit-6" data-previous="digit-5"  #digit6="ngModel" ngModel [(ngModel)]="loginObj.digit6"/>
            <p *ngIf="invalidOTP" style="color: red;text-align: -webkit-match-parent ;font-family: raleway_regular, Arial;"  >
              <span>Invalid OTP !</span>
            </p>
          </form>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
          <!-- for submit button -->
          <span class="notesVerify">Please enter the reference code to  </span><br>
          <span class="notesVerify">above Mobile Number</span>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" ></svg>
          <button (click)="onSubmit(loginform)">Continue</button>
        </form>
        <!-- end of form -->
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
    </div>
    <!-- section 3 -->
    <div class="column"></div>
  </div>
</div>