<style>
.digit-group > input {height: 40px;    width: 35px;text-indent: 1px;text-align: center;background-color: white;
  font-size: 19px;border-radius:8px;font-weight: 200;margin: 0 5px;
color: #000009;border: 1px solid #979797 !important;}</style>
<div class="bg-color">
  <!-- header title -->
  <div class="title">
    <label class="title-text" id="verfiyTitle"> ENVIA MEJOR</label>
  </div>
  <!-- overall div -->
  <div class="row" style="overflow:auto;height:100%;paddiright:15px;paddileft:15px;">
    <!-- section1 -->
    <div class="column"></div>
    <!-- section 2 -->
    <div class="column" style="text-align:center;padditop: 25px;">
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
        <p class="verify" id="verifyMobile">Verify your Mobile Number</p>
        <!-- form starts -->
        <form #loginform="ngForm" name="loginform" novalidate>
          <!-- for phone number input -->
          <input type="text" name="phone" id="verifyPhone" [disabled]="true" class="form-control" placeholder="Phone Number" autocomplete="off"  required
            [ngClass]="{
            'is-invalid':phone.invalid  && submitted  ,'is-valid': phone.valid  && submitted }" #phone="ngModel" ngModel [(ngModel)]="loginObj.phone" />
          <show-error [control]="phone" id="verfiyMobileErr" [label]="{'labelName': 'Phone Number'}" [submitFlag]="submitted"></show-error>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" *ngIf="!submitted || phone.valid"></svg>
          <!-- for  password input -->
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
          <form  class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
            <input class="inputs" id="verifyInput1" type="text"  maxlength="1" autocomplete="off" [disabled]="alreadyVerified" (change)="callChange()"  class="inputs" />
            <input class="inputs" id="verifyInput2" type="text"  maxlength="1" autocomplete="off" [disabled]="alreadyVerified" (change)="callChange()" class="inputs"/>
            <input class="inputs" id="verifyInput3" type="text"  maxlength="1" autocomplete="off" [disabled]="alreadyVerified" (change)="callChange()" class="inputs"/>
            <input class="inputs" id="verifyInput4" type="text"  maxlength="1" autocomplete="off" [disabled]="alreadyVerified"  (change)="callChange()" class="inputs"/>
            <input class="inputs" id="verifyInput5" type="text" maxlength="1" autocomplete="off" [disabled]="alreadyVerified" (change)="callChange()" class="inputs"/>
            <input class="inputs" id="verifyInput6" type="text"  maxlength="1" autocomplete="off" [disabled]="alreadyVerified" (change)="callChange()" class="inputs" />
            <p *ngIf="invalidOTP" style="color: red;text-align: -webkit-match-parent ;font-family: raleway_regular, Arial;"  >
              <span id="verifyInvalidOtp">Invalid reference code !</span>
              <span id="verifyNoOtp">Enter reference code !</span>
            </p>
            <p style="color: red;text-align: -webkit-match-parent ;font-family: raleway_regular, Arial;" *ngIf="!matchOtp">
            Invalid reference code!
            </p>
            <p style="color: red;text-align: -webkit-match-parent ;font-family: raleway_regular, Arial;" *ngIf="alreadyVerified">
             Already reference code verified!
            </p>
          </form>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
          <!-- for submit button -->
          <span class="notesVerify" id="verifyNote1">Please enter the reference code to  </span><br>
          <span class="notesVerify" id="verifyNote2">above Mobile Number</span>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" ></svg>
          <button class="button" id="verifySubmitBtn" [disabled]="alreadyVerified" (click)="onSubmit(loginform)">Continue</button>
        </form>
        <!-- end of form -->
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
    </div>
    <!-- section 3 -->
    <div class="column"></div>
  </div>
</div>