<div class="bg-color">
  <div class="title">
    <label class="title-text" id="changepass-success-title"> ENVIA MEJOR</label>
  </div>
  <div class="row" style="overflow:auto;height:100%">
    <div class="column"></div>
    <div class="column" style="text-align:center;padding-top: 100px;">
      <span class="verify" id="note4">Your Pincode has been </span>
      <br>
      <span class="verify" id="note5">Changed successfully </span>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <span  class="forgot" (click)="logIn()" style="border-bottom: 2px solid #544629;" id="clickhere">Click here</span><span class="forgot" id="toLogin"> to Login  </span>
    </div>
    <div class="column"></div>
  </div>
</div>
