<div style="background-color:white">
    <div class="row" style="overflow:auto;height:100%">
        <!-- <div class="columnHome"></div> -->
        <div class="columnHome">
                <div id="mySidenav" class="sidenav" *ngIf="openNavBar">
                        <span style="margin-top:10px;"><img src="assets/metro-home.png" style="cursor: pointer;" alt="" width="18"
                                height="18" align="top" (click)="home()"><label class="margin20" (click)="home()">Home</label></span>
                        <hr class="hr">
                        <span><img src="assets/paper-plane.png" style="cursor: pointer;" alt="" width="18" height="18" align="top"
                                (click)="sendMoney()"><label class="margin20" (click)="sendMoney()">Send Money</label></span>
                        <hr class="hr">
                        <span><img src="assets/transaction.png" style="cursor: pointer;" alt="" width="18" height="18" align="top"
                                (click)="transaction()"><label class="margin20" (click)="transaction()">Transactions</label></span>
                        <hr class="hr">
                        <span><img src="assets/wallet.png" style="cursor: pointer;" alt="" width="18" height="18" align="top"
                                (click)="wallet()"><label class="margin20" (click)="wallet()">Manage Wallet</label></span>
                        <hr class="hr">
                        <span><img src="assets/settings.png" style="cursor: pointer;" alt="" width="18" height="18" align="top"><label
                                class="margin20" (click)="settings()">Settings</label></span>
                        <hr class="hr">
                        <span><img src="assets/logout.png" style="cursor: pointer;" alt="" width="18" height="18" (click)="settings()"
                                align="top" (click)="logOut()"><label class="margin20" (click)="logOut()">Logout</label></span>
                    </div>
                <!-- <div id="mySidenav" class="sidenav" style="position: absolute;">
                    <span><img src="assets/metro-home.png" style="cursor: pointer;" alt="" width="18" height="18" align="top" (click)="home()"><label
                        class="margin20" (click)="home()">Home</label></span>
                <hr class="hr">
                <span><img src="assets/paper-plane.png" style="cursor: pointer;" alt="" width="18" height="18" align="top"  (click)="sendMoney()"><label
                        class="margin20" (click)="sendMoney()">Send Money</label></span>
                <hr class="hr">
                <span><img src="assets/transaction.png" style="cursor: pointer;" alt="" width="18" height="18" align="top" (click)="transaction()"><label
                        class="margin20" (click)="transaction()">Transactions</label></span>
                <hr class="hr">
                <span><img src="assets/wallet.png" style="cursor: pointer;" alt="" width="18" height="18" align="top" (click)="wallet()"><label
                        class="margin20" (click)="wallet()">Manage Wallet</label></span>
                <hr class="hr">
                <span><img src="assets/settings.png" style="cursor: pointer;" alt="" width="18" height="18" align="top"><label
                        class="margin20" (click)="settings()">Settings</label></span>
                <hr class="hr">
                <span><img src="assets/logout.png" style="cursor: pointer;" alt="" width="18" height="18"  (click)="settings()" align="top" (click)="logOut()"><label
                        class="margin20" (click)="logOut()">Logout</label></span>
                    </div> -->
            <p class="otherSet_Pro_New"><img src="assets/icon_ionic_md_menu.png" alt="" align="top" style="cursor: pointer;padding-top: 3px;" (click)="openNav()">
                &nbsp;
                Transaction Details</p>
            <p class="head1" style="text-align: center;">Your transaction is successful .</p>
            <div style="text-align: -webkit-center;">
                <div class="trans_1">
                    <p class="insideRound">ET</p>
                </div>
            </div>
            <div style="text-align: -webkit-center;">
                <label class="head_amt" style="text-align: center;">$3900.00</label>
            </div>
            <div class="clear"></div>
            <div id="viewpg" class="sendConf">
                <table style="width:100%" *ngIf="firstPage">
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Paid To</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf"> Eric Thomson</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Date</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">04 Dec 2019 3.30 PM</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Mobile Number</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">+1 907 769 3123</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Address</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">830,River Street</span>
                            <span class="tdDataConf">Adak, Alaska</span>
                            <span class="tdDataConf">830,River Street</span>
                            <span class="tdDataConf">99546</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr class="hrOnlyBorder">
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Vendor</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf"> Money Gram</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Reference Code</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">85665565823</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Delivery Method</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">Cash Pickup</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Payment Method</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">Bank Account</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf">Transaction Fee</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">$100</span>
                        </td>
                    </tr>
                    <br>
                </table>
            </div>
            <div style="text-align: center;margin-top: 30px;">
                <button  class="nextbtn !important"style="width: auto;height: 40.12px;display: inline-block !important"(click)="onClickSend()">Send Again</button>&nbsp;&nbsp;
                <button  class="nextbtn !important"  style="display: inline-block;color:rgba(41, 39, 36, 1);width: auto;height: 40.12px;background-color: rgba(255, 195, 63, 1) !important" (click)="onClickMsg()">Send Message</button>
            </div>
        </div>
        <!-- <div class="columnHome"></div> -->
    </div>
</div>