<div style="background-color:white">
    <div class="row" style="overflow:auto;height:100%">
        <!-- <div class="columnHome"></div> -->
        <div class="columnHome">
            <p class="otherSet_Pro_New"><img src="assets/Icon material-arrow_back.png" alt="" align="top" style="cursor: pointer; "
                    (click)="home()">
                &nbsp;
                <span>Send Money to Eric Thomson</span></p>
                <div style="text-align: -webkit-center;">
                    <div class="trans_1">
                        <p class="insideRound">ET</p>
                    </div>
                </div>
                &nbsp;&nbsp;<label class="tdLabelConf" style="float:right;padding-right: 20px;">&nbsp;&nbsp;Edit</label><img style="float:right" src="assets/edit.png">
                <br>
            <table style="width: 100%;padding-left: 10px; padding-right: 10px;">
                <tr (click)="transmission()">
                    <td class="transmission" style="text-align: left !important">
                        <label class="head_amt" ><span style="visibility:hidden">ts</span>Receiver
                            Information</label>
                    </td>
                </tr>
            </table>
            <div id="viewpg" class="sendConf">
                <table style="width:100%">
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Pay To</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf"> Eric Thomson</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Country</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf"> Mexico</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Mobile Number</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">+52 907 769 3123</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf">Vendor</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">Money Gram</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf">Delivery Method</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">Cash Pickup</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Address</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">830,River Street</span>
                            <span class="tdDataConf">Adak, Alaska</span>
                            <span class="tdDataConf">830,River Street</span>
                            <span class="tdDataConf">99546</span>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <table style="width: 100%;padding-left: 10px; padding-right: 10px;">
                    <tr (click)="transmission()">
                        <td class="transmission" style="text-align: left !important">
                            <label class="head_amt"><span style="visibility:hidden">ts</span>Transmission
                                Information</label>
                        </td>
                    </tr>
                </table>
            <div class="sendConf">
                <table style="width:100%">
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Amount</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">3900.00 USD</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf"> Payment Method</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">Wire Transfer  XX7865</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf">Total Fee</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">31.00 USD</span>
                        </td>
                    </tr>
                    <tr class="trspace_tran">
                        <td style="width:45%;padding-left: 10px;">
                            <span class="tdLabelConf">Total Amount</span>
                        </td>
                        <td style="width:55%">
                            <span class="tdDataConf">3931.00 USD</span>
                        </td>
                    </tr>
                    <br>

                </table>
                <div style="text-align: center;margin-top: 10px;">
                        <button  class="nextbtn !important" style="width: 125.00px;height: 40.12px !important" (click)="onSendClick()">Send</button>
                        </div>
                        <br>
            </div>


        </div>
        <!-- <div class="columnHome"></div> -->
    </div>
</div>