<style>
::placeholder {
    font-size: 15.00px;
    font-weight: 400;
    font-style: normal;
    font-family: raleway_regular, Arial;
    color: rgba(41, 39, 36, 1);
    opacity:  0.5500000119;
}
</style>
<div style="background-color:white">
    <div class="row" style="overflow:auto;height:100%">
        <!-- <div class="columnHome"></div> -->
        <div class="columnHome">
            <p class="otherSet_Pro_New"><img src="assets/Icon material-arrow_back.png" alt="" align="top" style="cursor: pointer" (click)="walletBack()">
                &nbsp;Wallet</p>
            <div class="clear"></div>
            <p class="head1" style="font-family: raleway_medium, Arial !important">Please fill in the required details
            </p>
            <form #walletForm="ngForm" name="registerForm" novalidate>
            <table style="width:100%">
                <tr>
                    <td><span class="point16">Name on Card </span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" class="form-control " name="cardname" maxlength="50" placeholder="" autocomplete="off" pattern="[A-Za-z ]+"
                            required [ngClass]="{'is-invalid': 
                            cardname.invalid  && submitted  ,'is-valid': cardname.valid  && submitted }"
                            #cardname="ngModel" ngModel [(ngModel)]="sendMoney.cardname" style="text-indent: 10px;font-size: 15.00px;
                            height: 25px;
                            font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;
                            border-right:0.5px solid #3C3C3C;border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;
                            border-radius: 10px;width: 95%;border-bottom:0.5px solid #3C3C3C !important">
                        <show-error [control]="cardname" [label]="{'labelName': 'Name on Card'}" [submitFlag]="submitted"></show-error>
                    </td>
                </tr>
                <br>
                <tr>
                    <td><span class="point16">Credit/Debit Card Number </span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" class="form-control" name="ccdc"  maxlength="16" pattern="[0-9]{16}" placeholder="" maxlength="16" autocomplete="off" required
                            [ngClass]="{'is-invalid': 
                                ccdc.invalid  && submitted  ,'is-valid': ccdc.valid  && submitted }"
                            #ccdc="ngModel" ngModel [(ngModel)]="sendMoney.ccdc" style="text-indent: 10px;font-size: 15.00px;
                                font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;
                                border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 95%;
                                height: 25px;border-bottom:0.5px solid #3C3C3C !important">
                        <show-error [control]="ccdc" [label]="{'labelName': 'Credit/Debit Card Number'}" [submitFlag]="submitted"></show-error>
                    </td>
                </tr>
                <br>
            </table>
            <table style="width:100%">
                <tr>
                    <td width="50%"><span class="point16">Expiry Date </span></td>
                    <td width="50%"><span class="point16">CVV </span></td>
                </tr>
                <tr>
                    <td width="50%">
                        <input type="text" class="form-control" name="expiry" placeholder="MM/YYYY" maxlength="7"   autocomplete="off"
                            required [ngClass]="{'is-invalid': 
                            expiry.invalid  && submitted  ,'is-valid': expiry.valid  && submitted }"
                            #expiry="ngModel" ngModel [(ngModel)]="sendMoney.expiry" style="text-indent: 10px;font-size: 15.00px;
                                font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;
                                border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 65%;
                                height: 25px;border-bottom:0.5px solid #3C3C3C !important">
                        <show-error [control]="expiry" [label]="{'labelName': 'Expiry Date'}" [submitFlag]="submitted"></show-error>
                    </td>
                    <td width="50%"> <input type="text" class="form-control" name="cvv" maxlength="3" placeholder="" autocomplete="off"
                            required [ngClass]="{'is-invalid': 
                                cvv.invalid  && submitted  ,'is-valid': cvv.valid  && submitted }"
                            #cvv="ngModel" ngModel [(ngModel)]="sendMoney.cvv" style="text-indent: 10px;font-size: 15.00px;
                                font-weight: 400;font-style: normal;font-family: raleway_regular, Arial;border-right:0.5px solid #3C3C3C;
                                border-left:0.5px solid #3C3C3C;border-top:0.5px solid #3C3C3C;border-radius: 10px;width: 65%;
                                height: 25px;border-bottom:0.5px solid #3C3C3C !important">
                        <show-error [control]="cvv" [label]="{'labelName': 'CVV'}" [submitFlag]="submitted"></show-error>
                    </td>
                </tr>
            </table>

            <div style="text-align: center;margin-top: 30px;">
                <button class="nextbtn !important" (click)="wallet(walletForm)">Save</button>
            </div>
            </form>

            <br>
            <div class="clear"></div>
            <div class="wrapper4">
                <div style="margin: auto;text-align: -webkit-center;">
                    <img  src="assets/visa.png"/>
                </div>
                <div style="margin: auto;text-align: -webkit-center;">
                    <img  src="assets/mastercard.png" />
                </div>
                <div style="margin: auto;text-align: -webkit-center;">
                    <img src="assets/ae.png"  />
                </div>
                <div style="margin: auto;text-align: -webkit-center;">
                    <img  src="assets/discover.png" />
                </div>
            </div>

        </div>
        <!-- <div class="columnHome"></div> -->
    </div>
</div>