<div class="bg-color">
  <!-- header title -->
  <div class="title">
    <label class="title-text"> ENVIA MEJOR</label>
  </div>
  <!-- overall div -->
  <div class="row" style="overflow:auto;height:100%">
    <!-- section1 -->
    <div class="column"></div>
    <!-- section 2 -->
    <div class="column" style="text-align:center;padding-top: 100px;">
      <span class="verify">You have been successfully </span>
      <br>
      <span class="verify">logged out </span>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <span class="forgot">Want to log back in ? <span (click)="logIn()" style="border-bottom: 2px solid #544629;">Click here</span></span>
      
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
        <!-- for submit button -->
    </div>
    <!-- section 3 -->
    <div class="column"></div>
  </div>
</div>