
<style>body {background-color: blue;display: flex;align-items: center;justify-content: center;flex-direction: column;}
    .digit-group > input {width: 30px;height: 37px;line-height: 50px;text-align: center;background-color: white;font-size: 20px;border-radius:8px;font-weight: 200;margin: 0 5px;color: #000009;border: 1px solid #979797;}
    .prompt {margin-bottom: 20px;font-size: 20px;color: black;}</style>
<form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
	<input type="text" id="digit-1" name="digit-1" data-next="digit-2"  (ngModelChange)="click()" />
	<input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1"  (ngModelChange)="click()"  />
	<input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2"  (ngModelChange)="click()" />
	<input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3"  (ngModelChange)="click()" />
	<input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4"  (ngModelChange)="click()" />
	<input type="text" id="digit-6" name="digit-6" data-previous="digit-5"  (ngModelChange)="click()" />
</form>