<div style="background-color:white">
    <div class="row" style="overflow:auto;height:100%">
        <div class="columnHome"></div>
        <div class="columnHome">
            <p><img src="assets/Icon material-arrow_back.png" alt="" align="top" style="cursor: pointer;padding-top: 5px"
                    (click)="home()">
                &nbsp;
                <span class="otherSet_wel1">Welcome</span><span class="otherSet_wel2"> Strader</span></p>
            <p class="otherSet_Pro">Wallet</p>
            <p style="float: left;">
                <button style="cursor: pointer;color: rgba(60, 60, 60, 1);font-size: 16px
                        ;border-radius: 55px;    opacity: 1;width: 162.00px;
    height: 52.00px;background-color: rgba(255, 195, 63, 1);"
                    (click)="addwallet()"><img src="assets/add.png" alt="" style="padding-left:5px;position: absolute;left: 16px;top: 187px;">&nbsp;<span
                        class="addAcc">Add Account</span></button>&nbsp;
            </p>
            <br>
            <div class="clear"></div>
            <div class="row" style="margin-top: 90px;">
                <div style="width:12%">
                    <img src="assets/bank.png">
                </div>
                <div class="div2">
                    <span class="addAcc" style="padding-left: 0px !important">Bank Accounts</span>
                </div>
            </div>
            <div class="row">
                <div style="width:12%">
                </div>
                <div class="div2">
                    <span class="pt16_1">Bank of America</span>
                    <span class="pt16_2">XXXX XXXX XXXX 7869</span>
                </div>
                <div style="margin-left: 10px;width:6%">
                    <img src="assets/radio_on.png" id="click1" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%">
                    <span class="pt16_2"> Primary</span>
                </div>
                <div style="width:5%">
                    <img src="assets/delete_acc.png"  alt="" align="middle" style="margin-right: 10px;">
                </div>
            </div>
            <br>
            <div class="row">
                <div style="width:12%">
                </div>
                <div class="div2">
                    <span class="pt16_1">Wells Forgo</span>
                    <span class="pt16_2">XXXX XXXX XXXX 3217</span>
                </div>
                <div style="margin-left: 10px;width:6%">
                    <img src="assets/radio_off.png" id="click2"  alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%">
                    <span class="pt16_2"> Not primary</span>
                </div>
                <div style="width:5%">
                    <img src="assets/delete_acc.png" alt="" align="middle" style="margin-right: 10px;">
                </div>
            </div>

            <div class="row" style="margin-top: 12px;">
                <div style="width:12%">
                    <img src="assets/card.png">
                </div>
                <div class="div2">
                    <span class="addAcc" style="padding-left: 0px !important">Credit Cards</span>
                </div>

            </div>
            <br>
            <div class="row">
                <div style="width:12%">
                </div>
                <div class="div2">
                    <span class="pt16_1">Citi Bank</span>
                    <span class="pt16_2">XXXX XXXX XXXX 5612</span>
                </div>
                <div style="margin-left: 10px;width:6%">
                    <img src="assets/radio_off.png" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%">
                    <span class="pt16_2"> Not primary</span>
                </div>
                <div style="width:5%">
                    <img src="assets/delete_acc.png" alt="" align="middle" style="margin-right: 10px;">
                </div>
            </div>
        </div>
        <div class="columnHome"></div>
    </div>
</div>