<div style="background-color:white">
    <div class="row" style="overflow:auto;height:100%">
        <!-- <div class="columnHome"></div> -->
        <div class="columnHome">
            <p class="otherSet_Pro_New"><img src="assets/Icon material-arrow_back.png" alt="" align="top" style="cursor: pointer;"
                    (click)="home()">
                &nbsp;            Wallet</p>
            <p style="float: left;">
                <button style="cursor: pointer;color: rgba(60, 60, 60, 1);font-size: 16px;border-radius: 55px;    opacity: 1;width: 162.00px;height: 52.00px;background-color: rgba(255, 195, 63, 1);"
                    (click)="addwallet()"><img src="assets/add.png" alt="" style="padding-left:5px;position: absolute;left: 16px;top: 111px;">&nbsp;<span
                        class="addAcc">Add Account</span></button>&nbsp;
            </p>
            <br>
            <div class="clear"></div>
            <div class="row" style="margin-top: 90px;">
                <div style="width:12%">
                    <img src="assets/bank.png">
                </div>
                <div class="div2" style="width:46%">
                    <span class="addAcc" style="padding-left: 0px !important">Bank Accounts</span>
                </div>
            </div>
            <!-- <div class="row" >  -->
            <div class="row" *ngFor="let bank of bankArr"> 
                <div style="width:12%">
                </div>
                <div class="div2">
                    <span class="pt16_1">{{bank.bankName}}</span>
                    <span class="pt16_2">{{getNumberView(bank.cardNumber)}}</span>
                </div>
                <div style="margin-left: 10px;width:6%" *ngIf="bank.isPrimary === 'Yes'">
                    <img src="assets/radio_on.png" id="click1" (click)="click1('Update',bank.walletId)" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%" *ngIf="bank.isPrimary === 'Yes'"> 
                    <span class="pt16_2"> Primary</span>
                </div>
                <div style="margin-left: 10px;width:6%" *ngIf="bank.isPrimary === 'No'">
                    <img src="assets/radio_off.png" id="click1"  (click)="click1('Update',bank.walletId)" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%" *ngIf="bank.isPrimary === 'No'">
                    <span class="pt16_2"> Not primary</span>
                </div>
                <div style="width:5%">
                    <img src="assets/delete_acc.png"  (click)="manageWallet('Delete',bank.walletId)"  alt="" align="middle" style="margin-right: 10px;">
                </div>
                <br>
            </div>
<br>           

            <div class="row" style="margin-top: 12px;">
                <div style="width:12%">
                    <img src="assets/card.png">
                </div>
                <div class="div2">
                    <span class="addAcc" style="padding-left: 0px !important">Credit Cards</span>
                </div>

            </div>
            <br>
            <!-- <div class="row" > -->
            <div class="row" *ngFor="let bank of cardArr">
                <div style="width:12%">
                </div>
                <div class="div2">
                    <span class="pt16_1">{{bank.bankName}}</span>
                    <span class="pt16_2">{{getNumberView(bank.cardNumber)}}</span>
                </div>
                <div style="margin-left: 10px;width:6%" *ngIf="bank.isPrimary === 'Yes'">
                    <img src="assets/radio_on.png" id="click1" (click)="click1('Update',bank.walletId)" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%" *ngIf="bank.isPrimary === 'Yes'"> 
                    <span class="pt16_2"> Primary</span>
                </div>
                <div style="margin-left: 10px;width:6%" *ngIf="bank.isPrimary === 'No'">
                    <img src="assets/radio_off.png" id="click1"  (click)="click1('Update',bank.walletId)" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <div style="margin-left: 10px;width:20%" *ngIf="bank.isPrimary === 'No'">
                    <span class="pt16_2"> Not primary</span>
                </div>
                <div style="width:5%">
                    <img src="assets/delete_acc.png" (click)="manageWallet('Delete',bank.walletId)" alt="" align="middle" style="margin-right: 10px;">
                </div>
                <br>
            </div>
        </div>
        <!-- <div class="columnHome"></div> -->
    </div>
</div>