@import url('https://fonts.googleapis.com/css?family=Raleway:200');


body, html {
	height: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

body {
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.digit-group > input {
		width: 30px;
		height: 30px;
		line-height: 50px;
		text-align: center;
        font-size: 24px;
        border-radius:8px;
		font-family: 'Raleway', sans-serif;
        font-weight: 200;
        margin: 0 5px;
        border: 1px solid #979797;
}

.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: black;
}