<div class="bg-color">
  <!-- header title -->
  <div class="title">
    <label class="title-text"> ENVIA MEJOR</label>
  </div>
  <!-- overall div -->
  <div class="row" style="overflow:auto;height:100%;padding-right:15px;padding-left:15px;">
    <!-- section1 -->
    <div class="column"></div>
    <!-- section 2 -->
    <div class="column" style="text-align:center;padding-top: 25px;">
      <div class="bg-white">
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
        <p class="setUp">Login</p>
        <!-- form starts -->
        <form #loginform="ngForm" name="loginform" novalidate>
          <!-- for phone number input -->
          <input type="text" name="phone" class="form-control" placeholder="Phone Number" autocomplete="off" style="border-bottom: 1px solid #979797 !important" required
            [ngClass]="{
            'is-invalid':phone.invalid  && submitted  ,'is-valid': phone.valid  && submitted }" #phone="ngModel"
            ngModel [(ngModel)]="loginObj.phone" />
          <show-error [control]="phone" [label]="{'labelName': 'Phone Number'}" [submitFlag]="submitted"></show-error>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" *ngIf="!submitted || phone.valid"></svg>
          <!-- for  password input -->
          <input type="text" name="pass" class="form-control" placeholder="Pincode" autocomplete="off" style="border-bottom: 1px solid #979797 !important" required
            [ngClass]="{'is-invalid': 
          pass.invalid  && submitted  ,'is-valid': pass.valid  && submitted }" #pass="ngModel" ngModel
            [(ngModel)]="loginObj.pass" />
          <show-error [control]="pass" [label]="{'labelName': 'Pincode'}" [submitFlag]="submitted">
          </show-error>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" *ngIf="!submitted || pass.valid"></svg>
          <!-- for submit button -->
          <p><img src="assets/rocket.png" alt="Smiley face" width="26" height="26" align="top">  <span class="otherSet"  (click)="onSubmit(loginform)">Go</span></p>
          <p class="forgot" (click)="forgotPassword()">Forgot Pincode</p>
        </form>
        <!-- end of form -->
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      </div>
    </div>
    <!-- section 3 -->
    <div class="column"></div>
  </div>
</div>