<style>
    .digit-group > input {height: 40px;    width: 35px;text-indent: 1px;text-align: center;
      background-color: white;font-size: 19px;border-radius:8px;
    font-weight: 200;margin: 0 5px;color: #000009;border: 1px solid #979797 !important;}</style>
<div class="bg-color">
  <!-- header title -->
  <div class="title">
    <label class="title-text" id="loginTitle"> ENVIA MEJOR</label>
  </div>
  <!-- overall div -->
  <div class="row" style="overflow:auto;height:100%;padding-right:15px;padding-left:15px;">
    <!-- section1 -->
    <div class="column"></div>
    <!-- section 2 -->
    <div class="column" style="text-align:center;padding-top: 5px;">
        <span class="verify" id="thankYouReg">Thank you for registering  </span>
        <br>
        <span class="verify" id="thankYouRegEM">with Envia Mejor </span>
        <br>
        <br>
      <div class="bg-white">
        <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
        <p class="verify" id="loginPage">Login</p>
       
        <!-- form starts -->
        <form #loginform="ngForm" name="loginform" novalidate>
          <!-- for phone number input -->
          <input type="text"  id="loginPhone" name="phone" class="form-control" maxlength="15" pattern="[+][0-9]+" minlength="10" placeholder="Phone Number" autocomplete="off" style="border-bottom: 1px solid #979797 !important" required
            [ngClass]="{
            'is-invalid':phone.invalid  && submitted  ,'is-valid': phone.valid  && submitted }" #phone="ngModel"
            ngModel [(ngModel)]="loginObj.phone" />
          <show-error [control]="phone" id="loginMobErr" [label]="{'labelName': 'Phone Number'}" [submitFlag]="submitted"></show-error>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" *ngIf="!submitted || phone.valid"></svg>
          <form  class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
              <input class="inputs" type="text" id="loginInput1"  class="inputs"  maxlength="1" autocomplete="off"/>
              <input class="inputs" type="text" id="loginInput2" class="inputs"  maxlength="1" autocomplete="off"/>
              <input class="inputs" type="text" id="loginInput3" class="inputs"  maxlength="1" autocomplete="off"/>
              <input class="inputs" type="text" id="loginInput4"  class="inputs"  maxlength="1" autocomplete="off"/>
              <p *ngIf="invalidOTP" style="color: red;text-align: -webkit-match-parent ;font-family: raleway_regular, Arial;"  >
                <span id="loginInvalidOtp">Invalid Pincode !</span>
              </p>
              <p *ngIf="invalidOTPPhone" style="color: red;text-align: -webkit-match-parent ;font-family: raleway_regular, Arial;"  >
                <span id="invalidOTPPhoneID">Invalid Phone Number/Pincode !</span>
              </p>
            </form>
          
            <p class="pincode"  id="loginPincode">Pincode</p>
          <!-- for  password input -->
          <!-- <input type="text" name="pass" class="form-control" placeholder="Pincode" autocomplete="off" style="border-bottom: 1px solid #979797 !important" required
            [ngClass]="{'is-invalid': 
          pass.invalid  && submitted  ,'is-valid': pass.valid  && submitted }" #pass="ngModel" ngModel
            [(ngModel)]="loginObj.pass" />
          <show-error [control]="pass" [label]="{'labelName': 'Pincode'}" [submitFlag]="submitted">
          </show-error>
          <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1" *ngIf="!submitted || pass.valid"></svg> -->
          <!-- for submit button -->
          <p><img src="assets/rocket.png" alt="Smiley face" width="26" height="26" align="top">  <span class="verify" style=" cursor: pointer;" id="loginInBtn"  (click)="onSubmit(loginform)">Go</span></p>
          <p class="text20PxWith400" id="forgotBtn" (click)="forgotPassword()">Forgot Pincode</p>
        </form>
        <!-- end of form -->
      </div>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
    </div>
    <!-- section 3 -->
    <div class="column"></div>
  </div>
</div>