<div class="bg-color">
  <!-- header title -->
  <div class="title">
    <label class="title-text"> ENVIA MEJOR</label>
  </div>
  <!-- overall div -->
  <div class="row" style="overflow:auto;height:100%">
    <!-- section1 -->
    <div class="column"></div>
    <!-- section 2 -->
    <div class="column" style="text-align:center;padding-top: 100px;">
      <span class="verify">Thank you for registering </span>
      <br>
      <span class="verify">with Envia Major </span>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
      <svg preserveAspectRatio="none" viewBox="0 -0.5 267 1" class="line-1"></svg>
        <!-- for submit button -->
        <button (click)="onSubmit(changepassword)">Continue</button>
    </div>
    <!-- section 3 -->
    <div class="column"></div>
  </div>
</div>